* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

hr {
  border: 0;
  height: 1.1px;
  color: #666;
  background-image: -moz-linear-gradient(left, rgba(255, 206, 0, 0), rgba(255, 206, 0, 0.8), rgba(255, 206, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 206, 0, 0), rgba(255, 206, 0, 0.8), rgba(255, 206, 0, 0));
  background-image: -o-linear-gradient(left, rgba(255, 206, 0, 0), rgba(255, 206, 0, 0.8), rgba(255, 206, 0, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 206, 0, 0), rgba(255, 206, 0, 0.8), rgba(255, 206, 0, 0)); }

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.flexWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.btn {
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 16px; }
  .btn__primary {
    background-color: #FFCE00; }
  .btn__secondary {
    background-color: #BCB5D7; }
  .btn__secondaryDark {
    background-color: #4D2D6F; }
  .btn__width125 {
    width: 125px; }

.header {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/listOnPhoneFridgeSmall.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    .header__text--mainTitle {
      font-weight: 300;
      letter-spacing: 3px;
      margin-bottom: 25px;
      font-size: 60px;
      color: #fcfcfc; }
    .header__text--subTitle {
      font-weight: 300;
      letter-spacing: 3px;
      color: #fcfcfc; }
      .header__text--subTitle > span {
        display: inline-block;
        transform: scale(1.5, 1.5);
        color: #FFCE00;
        font-style: italic;
        vertical-align: 10%; }

.mainNav__logo {
  height: 60px;
  opacity: .15;
  border-radius: 6px; }

.mainNav__nav {
  margin: 10px;
  display: flex;
  float: right;
  color: #fcfcfc;
  list-style: none;
  height: 3.5rem;
  z-index: 1000; }
  .mainNav__nav--item > a {
    margin-right: 2rem;
    color: #fcfcfc;
    text-decoration: none;
    padding-bottom: 7px; }
    .mainNav__nav--item > a:link, .mainNav__nav--item > a:visited {
      border-bottom: 1px solid transparent;
      transition: border-bottom .4s; }
    .mainNav__nav--item > a:hover, .mainNav__nav--item > a:active {
      border-bottom: 1.5px solid #fcfcfc; }

.list {
  padding: 50px;
  width: 85%;
  margin: 50px auto;
  border-radius: 7px;
  background-color: #4D2D6F;
  border: 1px solid #4D2D6F; }
  .list__search--input {
    background-color: #fcfcfc;
    width: 350px;
    height: 40px;
    display: flex;
    margin: auto;
    border-radius: 7px; }
    .list__search--input > input {
      font-size: 24px;
      width: 100%;
      border-radius: 3px;
      padding: 2px; }
    .list__search--input > img {
      height: 30px; }
  .list__addItem {
    margin: auto; }
    .list__addItem > button {
      width: 40%;
      margin-left: 30%;
      margin-top: 25px; }
    .list__addItem img {
      height: 25px;
      cursor: pointer; }
    .list__addItem--addItemForm {
      display: none;
      border: 7px double #BCB5D7;
      padding: 15px;
      margin-top: 25px;
      line-height: 2;
      width: 100%; }
      .list__addItem--addItemForm-frecency > input {
        width: 80px !important;
        background-color: #ffe47d;
        margin-left: 15px;
        margin-top: 10px; }
      .list__addItem--addItemForm label,
      .list__addItem--addItemForm h3 {
        color: #BCB5D7; }
      .list__addItem--addItemForm h3 {
        margin-bottom: 15px; }
      .list__addItem--addItemForm input,
      .list__addItem--addItemForm select {
        margin-right: 20px;
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 2px;
        width: 100%;
        border-radius: 3px;
        padding: 6px 9px; }
      .list__addItem--addItemForm button {
        display: block;
        margin: auto;
        margin-top: 15px; }
  .list > h1 {
    text-align: center;
    color: #FFCE00;
    letter-spacing: 4px;
    word-spacing: 9px;
    font-weight: 500; }
  .list__orderBy {
    margin: 30px 0; }
    .list__orderBy--header {
      color: #FFCE00;
      font-style: italic;
      font-size: 20px;
      margin-bottom: 15px;
      letter-spacing: 3px;
      word-spacing: 6px;
      font-weight: 600; }
    .list__orderBy--btns {
      display: flex;
      justify-content: space-between; }
  .list__filterBy {
    margin: 30px 0; }
    .list__filterBy--header {
      color: #FFCE00;
      font-style: italic;
      font-size: 20px;
      margin-bottom: 15px;
      letter-spacing: 3px;
      word-spacing: 6px;
      font-weight: 600; }
    .list__filterBy--btns {
      display: flex;
      justify-content: space-between; }
  .list__container--headers {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 7px double #FFCE00;
    padding: 7px 15px;
    color: #FFCE00; }
  .list__container--items {
    margin-bottom: 25px; }
    .list__container--items-orderByHeading {
      color: #D8DAEB;
      font-style: italic;
      text-align: center; }
    .list__container--items-item {
      border: 1px solid #FFCE00;
      padding: 15px 5px 15px 25px; }
      .list__container--items-item input {
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 2px;
        width: 100%;
        border-radius: 3px;
        padding: 6px 9px;
        background-color: #fcfcfc; }
      .list__container--items-itemQty, .list__container--items-itemCheckBox {
        text-align: center;
        flex: 2; }
      .list__container--items-itemItem {
        flex: 16;
        margin-left: 30px; }
      .list__container--items-itemCheckBox > input {
        vertical-align: -4px;
        transform: scale(2.5);
        justify-content: center; }
      .list__container--items-itemEdit, .list__container--items-itemDelete {
        z-index: 2000; }
      .list__container--items-itemEdit > img,
      .list__container--items-itemDelete > img {
        height: 26px;
        padding-top: 10px;
        margin: 0 3px; }
      .list__container--items-itemFrecency p {
        color: #D8DAEB;
        font-size: 16px;
        padding-top: 12px;
        text-align: right; }
        .list__container--items-itemFrecency p input {
          width: 50px;
          background-color: #ffe47d;
          font-size: 14px;
          padding: 2px; }
