.btn {
    border-radius: 7px;
    padding: 7px 10px;
    font-size: 16px;
    @include respond(phone) {
        font-size: 12px;
    }
    &__primary {
        background-color: $colorPrimary;
    }
    &__secondary {
        background-color: $colorSecondary;
        color: $colorGreyLightSecondary;
        &--selected {
            background-color: $colorSecondaryDark;           
            outline: 2px solid $colorSecondary;
            border-radius: unset;           
        }
    }
    &__secondaryDark {
        background-color: $colorSecondaryDark;
    }
    &__width125 {
        width: 125px;
    }
}
.signatureBox {
    display: block;
    margin: 25px auto;
    border: 2px solid $colorTertiary;
    border-top: 30px solid $colorTertiary;
    padding: 1rem;
    width: fit-content;
    max-width: 80%;

    @include respond(phone) {
        border: none;
        padding: 0;
        margin: 0 auto;
    }

    & h4 {
        color: $colorPrimary;
    }
    & span {
        color: $colorSecondary;
    }
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
        display: block;
    }

    &__line1 {
        display: flex;
        justify-content: space-between;

        @include respond(phone) {
            margin-bottom: .5rem;
        }
    }
    &__line2 {
        display: flex;
    }
}
.flexWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}