.btn {
    border-radius: 7px;
    padding: 7px 10px;
    font-size: 16px;
    &__primary {
        background-color: $colorPrimary;
    }
    &__secondary {
        background-color: $colorSecondary;
        &--selected {
            color: $colorPrimary;
            background-color: $colorSecondaryDark;           
            outline: 2px solid $colorSecondary;
            border-radius: unset;           
        }
    }
    &__secondaryDark {
        background-color: $colorSecondaryDark;
    }
    &__width125 {
        width: 125px;
    }
}
.signatureBox {
    display: block;
    margin: 25px auto;
    border: 2px solid $colorTertiary;
    border-top: 30px solid $colorTertiary;
    padding: 1rem;
    width: fit-content;

    & h4 {
        color: $colorPrimary;
    }
    & span {
        color: $colorSecondary;
    }
}