// $colorSecondary: #FFCE00;
// $colorSecondaryLight: #ffe47d;
// $colorSecondaryDark: #b89301;
// $colorPrimary: #BCB5D7;
// $colorPrimaryLight: #D8DAEB;
// //$colorPrimaryDark: #4D2D6F;
// $colorPrimaryDark: #0d530d;
// $colorGreyLightPrimary: #fcfcfc;
// $colorGreyLightSecondary: #F2F2F6;
// $colorTertiary:	#889D38;
// $colorTertiaryLight: #DBEC9E ;
// $colorTertiaryDark: #405103;

// $colorGreyLightPrimary: #fcfcfc;


$colorPrimary: #f0f34a;
$colorPrimaryLight: #f8f8d5;
$colorPrimaryDark: #6e6e03;
$colorSecondary: #0d530d;
$colorSecondaryLight: #b5f3b5;
$colorSecondaryDark: rgb(8, 58, 8);
$colorTertiary:	#3C7496;
$colorTertiaryLight: #cee8f8;
$colorTertiaryDark: #153a52;

$colorGreyLightPrimary: #fdfdf6;
$colorGreyLightSecondary: #f2f8f2;