$colorPrimary: #FFCE00;
$colorPrimaryLight: #ffe47d;
$colorSecondary: #BCB5D7;
$colorSecondaryLight: #D8DAEB;
$colorSecondaryDark: #4D2D6F;



$colorGreyLightPrimary: #fcfcfc;
$colorGreyLightSecondary: #F2F2F6;