.editCategories {
    &>h4 {
        font-weight: 400;
        font-style: italic;
        color: $colorTertiary;
    }
    &__listItem {
        display: flex;
        justify-content: space-between;
        border: 1px solid $colorTertiary;
        margin: 5px;
        padding: 5px 7px;
        &>img {
            height: 30px;
        }
        &>p {
            color: $colorSecondary;
        }
    }
}