.login {
    display: block;
    padding: 0.5rem 1rem 1rem;
    width: 80%;
    margin: 0 auto;

    &__whatIsFrecency {
        text-align: center;
        margin: auto;
        width: 80%;
        font-weight: 400;
        font-size: 16px;
    }
    &__line1 {
        display: flex;
        justify-content: space-between;
        @include respond(phone) {
            display:block;
        }
        &>h3 {
            font-size: 200%;
            color: $colorSecondary;
            margin-bottom: 2rem;
            @include respond(phone) {
                margin-bottom: 0;
                margin-left: 10px;
            }
            margin-top: 1rem;
            @include respond(phone) {
                margin-top: 0;
            }
            &>span {
                color: $colorPrimaryDark;
            }
        }

        &--signup {
            padding-top: 1rem;
            @include respond(phone) {
                padding-top: 0;
                padding-bottom: 2rem;
            }
            >a {
                font-style: italic;
                color: $colorPrimaryDark;
                margin-left: 1rem;               
            }
        }
    }

    &__form {
        color: $colorSecondary;
        font-weight: 400;

        &--username {
            
            display: flex;
            &>input {
                padding-left: 5px;
            }
            @include respond(phone) {
                display: block;
            }
        }
        &--email {
           
            display: flex;
            &>label {
                flex: 2;
            }
            &>input {
                padding-left: 5px;
                width: 14rem;
                @include respond(phone) {
                    width: 12rem;
                }
                flex: 6;
            }
            @include respond(phone) {
                display: block;
            }
        }
        &--password {
           
            display:flex;
            
            @include respond(phone) {
                display: block;
            }
            &>label {
                flex: 2;
            }
            &>input {
                flex: 6;
            }
        }
        
        &--submit {         
            display: flex;
            justify-content: space-between;
            &>input {
                font-size: 100%;
            }     
        }
        &>div>label,
        &>div>input,
        &>div>select {
            margin: .5rem;
            border-radius: 7px;
        }

        &>div>input,
        &>div>select {
            @include respond(phone) {
                font-size: 100%;
            }
        }
        &>div>input {
            border-radius: 4px;
            font-size: 16px;
            padding: 3px;
        }
    }
}