.mainNav {
    position: relative;
    &__logo {       
        height: 60px;
        opacity: .15;
        border-radius: 6px;      
    }
    &__nav {
        position: absolute;
        right: 10px;
        top: 20px;
        width: fit-content;        
        height: 3.5rem;
        list-style: none;
        z-index: 1000;
        font-weight: 500;
        color: $colorSecondaryDark;        
        
        &--item {
            margin-left: 1rem;
            margin-bottom: 7px; 
            &>a {                     
                padding-bottom: 7px;           
                text-decoration: none;
                color: $colorSecondaryDark;
                
                &:link,
                &:visited {
                    border-bottom: 1px solid transparent;
                    transition: border-bottom .4s;
                }
                &:hover,
                &:active {
                    border-bottom: 1.5px solid $colorSecondaryDark;          
                }
                @include respond(phone) {
                    &:hover,
                    &:active {
                        border-bottom: 1.5px solid $colorGreyLightTertiary;
                        padding-bottom: 4px;
                    }
                }
                
            }
        }
        
    }
    &__hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 25px;       
        z-index: 1000;
    }
}

.mobileMenuActive {
    height: fit-content;
    padding: 10px;
    padding-left: 0;
    z-index: 1000;
    background-color: $colorTertiary;
    border-radius: 7px;
    opacity: .9;
    & a {
        color: $colorGreyLightTertiary;
    }
}