.profile {
    padding: 1rem;

    @include respond(phone) {
        padding: 1rem;
    }

    &__line1{
        
        &>h2 {
            padding: 1rem;           
            color: $colorTertiaryDark;
            text-align: center;
            &>span {
                color: $colorSecondary;
            }
        }
    }
    &__container {
        max-width: 500px;
        width: 90%;
        margin: 1rem auto;
        border: 2px solid $colorTertiaryDark;
        padding: 0;
        
        
        &--bottom {
            padding: 2rem;
            @include respond(phone) {
                padding: 1rem;
            }
            font-size: 100%;

            & input {
                width: 100%;
                border-radius: 7px;
                margin-bottom: 7px;
                padding: 7px;
            }
        }
    }
    &__form {
        
        &--email {
            background-color: $colorTertiaryDark;
            color: #fff;
            width: 100%;
            padding: 5px 7px;           
        }
        &--changeProfileButton {
            font-size: 100%;
            margin: auto;
            text-align:center;
            & a {
                text-decoration: none;
                color: white;
            }
            & span {
                font-size: 65%;
                font-style: italic;
            }
        }
        
        &--changePassword {
            &>form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &>input {
                    margin: 3px;
                    border-radius: 7px;
                }
            }       
        }
    }
}